<div>
  <div>
    <h1>
      Movie #<%= @the_movie.id %> details
    </h1>

    <hr>

    <div>
      <div>
        <h2>
          Make a Reservation for <%= @the_movie.title %>
        </h2>
        <%# need to require date and time or else it doesn't work %>
        <form action="/insert_group_reservation" method="post">
          <div>
            <label for="reservation_date_box">
              Pick a day
            </label>
            <input type="date" id="reservation_date_box" name="query_reservation_date">
          </div>
          <div>
            <label for="reservation_time_box">
              Pick a time
            </label>
            <input type="time" id="reservation_time_box" name="query_reservation_time">
          </div>
          <div>
            <label for="reservation_duration_box" hidden>
              Reservation duration
            </label>
            <input type="text" id="reservation_duration_box" name="query_reservation_duration" hidden>
          </div>
          <div>
            <label for="number_of_tickets_box">
              Number of tickets
            </label>
            <select type="text" id="number_of_tickets_box" name="query_number_of_tickets">
              <% max_seats_in_theaters = 0 %>
              <% Theater.all.each do |theater| %>
                <% if theater.seats_in_theater > max_seats_in_theaters %>
                  <% max_seats_in_theaters = theater.seats_in_theater %>
                <% end %>
              <% end %>
              <% count = 1 %>
              <% max_seats_in_theaters.times do %>
                <option><%= count %></option>
                <% count = count + 1 %>
              <% end %>
            </select>
          </div>
          <div>
            <label for="movie_id_box" hidden>
              Movie
            </label>
            <input id="movie_id_box" name="query_movie_id" value="<%= @the_movie.id %>" hidden>
          </div>
          <!--
          <div>
            <label for="movie_id_box" hidden>
              Movie
            </label>
            <select id="movie_id_box" name="query_movie_id" value="<% @the_movie.id %>">
              <% Movie.all.each do |a_movie| %>
                <% if a_movie.currently_showing == true %>
                  <option><%= a_movie.title %></option>
                <% end %>
              <% end %>
            </select>
          </div>
          <div>
            <label for="theater_id_box" hidden>
              Theater
            </label>
            <input type="text" id="theater_id_box" name="query_theater_id" hidden>
          </div>
          -->
          <button>
            Check Availability
          </button>
        </form>
      </div>
    </div>

    <hr>

    <dl>
      <dt>
        <img src="<%= @the_movie.image %>">
      </dt>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_movie.title %>
      </dd>

      <dt>
        Duration
      </dt>
      <dd>
        <%= @the_movie.duration.to_i %> minutes
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_movie.description %>
      </dd>

      <dt>
        Currently showing
      </dt>
      <dd>
        <%= @the_movie.currently_showing %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_movie.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_movie.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if @current_user != nil && @current_user.admin == true %>
  <h2>ADMIN VIEW ONLY</h2>
  <hr>

  <div>
    <div>
      <h2>
        Edit movie
      </h2>

      <form action="/modify_movie/<%= @the_movie.id %>"  method="post" >
        <div>
          <label for="title_box">
            Title
          </label>

          <input type="text" id="title_box" name="query_title" value="<%= @the_movie.title %>">
        </div>

        <div>
          <label for="duration_box">
            Duration
          </label>

          <input type="text" id="duration_box" name="query_duration" value="<%= @the_movie.duration %>">
        </div>

        <div>
          <label for="description_box">
            Description
          </label>

          <textarea id="description_box" name="query_description"><%= @the_movie.description %></textarea>
        </div>

        <div>
          <input type="checkbox" id="currently_showing_box" name="query_currently_showing" value="1" <%= "checked" if @the_movie.currently_showing %>>

          <label for="currently_showing_box">
              Currently showing
          </label>
        </div>

        <button>
          Update movie
        </button>
      </form>
    </div>
  </div>
  <hr>

  <div>
    <a href="/delete_movie/<%= @the_movie.id %>">
      Delete movie
    </a>
  </div>

  <hr>
<% end %>

