<% if @current_user == nil %>
  <h4>Please <a href="/user_sign_in">sign in</a> first.</h4>
<% else %>
  <% if @the_group_reservation.host == @current_user.id %>
    <% if TicketRequest.where({ :group_id => @the_group_reservation.id }).exists?({ :user_id => @current_user }) == false %>
      <div>
        <div>
          <h1>
            Group reservation #<%= @the_group_reservation.id %> details
          </h1>

          <div>

          <dl>
            <dt>
              Movie
            </dt>
            <dd>
              <img src="<%= @the_group_reservation.movie.image %>">
            </dd>
            <dd>
              <%= @the_group_reservation.movie.title %>
            </dd>

            <dt>
              Reservation date
            </dt>
            <dd>
              <%= @the_group_reservation.reservation_date.strftime("%A, %B %e, %Y") %>
            </dd>

            <dt>
              Reservation Start Time
            </dt>
            <dd>
              <%= (@the_group_reservation.reservation_time + 6.hours).strftime("%l:%M %p") %>
            </dd>

            <dt>
              Reservation End Time
            </dt>
            <dd>
              <%= (@the_group_reservation.reservation_end_time + 6.hours).strftime("%l:%M %p") %>
            </dd>

            <dt>
              Number of tickets
            </dt>
            <dd>
              <%= @the_group_reservation.number_of_tickets %>
            </dd>

            <dt>
              Location Address
            </dt>
            <dd>
              <%= @the_group_reservation.theater.location.street_address %>
            </dd>
          </dl>
          
          <% if TicketRequest.where({ :group_id => @the_group_reservation.id }).first == nil %>
            <div>
              <form action="/insert_ticket_request" method="post">
                <div>
                  <label for="user_id_box" hidden>
                    User
                  </label>

                  <input type="text" value="<%=@current_user.id%>" id="user_id_box" name="query_user_id" hidden>
                </div>

                <div>
                  <label for="group_id_box" hidden>
                    Group
                  </label>

                  <input type="text" value="<%= @the_group_reservation.id %>" id="group_id_box" name="query_group_id" hidden>
                </div>

                <button>
                  Get Tickets
                </button>
              </form>
            </div>
            <hr>
            <div>
              <a href="/delete_group_reservation/<%= @the_group_reservation.id %>">
                Or cancel reservation
              </a>
            </div>
          <% end %>
        </div>
      </div>

      <hr>
    <% else %>
      Tickets can be found <a href="/group_reservations/<%= @the_group_reservation.id %>">here<a>.
    <% end %>
  <% else #current user is not the host %>
    <div>You do not have access to this page.</div>
    <div><a href="/">Back to Home</a></div>
    <hr>
  <% end %>
<% end %>