<% if @current_user == nil %>
  <h4>Please <a href="/user_sign_in">sign in</a> first</h4>
<% else %>
  <div>
    <div>
      <h1>
        My Reservations
      </h1>
    </div>
  </div>
  <hr>
  <div>
    <div>
      <table>
        <tr>
          <th>
            ID
          </th>
          <th>
            Reservation status
          </th>
          <th>
            Reservation date
          </th>
          <th>
            Reservation time
          </th>
          <th>
            Reservation duration
          </th>
          <th>
            Number of tickets
          </th>
          <th>
            Movie
          </th>
          <th>
            Theater
          </th>
          <th>
            Created at
          </th>
          <th>
            Updated at
          </th>
          <th>
          </th>
        </tr>
        <% @list_of_group_reservations.each do |a_group_reservation| %>
          <% if TicketRequest.where({ :group_id => a_group_reservation.id }).exists?({ :user_id => @current_user }) %>
            <tr>
              <td>
                <%= a_group_reservation.id %>
              </td>
              <td>
                <%= a_group_reservation.reservation_status %>
              </td>
              <td>
                <%= a_group_reservation.reservation_date %>
              </td>
              <td>
                <%= a_group_reservation.reservation_time %>
              </td>
              <td>
                <%= a_group_reservation.reservation_duration %>
              </td>
              <td>
                <%= a_group_reservation.number_of_tickets %>
              </td>
              <td>
                <%= a_group_reservation.movie_id %>
              </td>
              <td>
                <%= a_group_reservation.theater_id %>
              </td>
              <td>
                <%= time_ago_in_words(a_group_reservation.created_at) %> ago
              </td>
              <td>
                <%= time_ago_in_words(a_group_reservation.updated_at) %> ago
              </td>
              <td>
                <a href="/group_reservations/<%= a_group_reservation.id %>">
                  Show details
                </a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
<% end %>

<% if @current_user != nil %>
  <% if @current_user.admin == true %>
    <hr>
      <h2>ADMIN VIEW ONLY</h2>
    <hr>
    <div>
      <div>
        <table>
          <tr>
            <th>
              ID
            </th>
            <th>
              Reservation status
            </th>
            <th>
              Reservation date
            </th>
            <th>
              Reservation time
            </th>
            <th>
              Reservation duration
            </th>
            <th>
              Number of tickets
            </th>
            <th>
              Movie
            </th>
            <th>
              Theater
            </th>
            <th>
              Created at
            </th>
            <th>
              Updated at
            </th>
            <th>
            </th>
          </tr>
          <% @list_of_group_reservations.each do |a_group_reservation| %>
            <tr>
              <td>
                <%= a_group_reservation.id %>
              </td>
              <td>
                <%= a_group_reservation.reservation_status %>
              </td>
              <td>
                <%= a_group_reservation.reservation_date %>
              </td>
              <td>
                <%= a_group_reservation.reservation_time %>
              </td>
              <td>
                <%= a_group_reservation.reservation_duration %>
              </td>
              <td>
                <%= a_group_reservation.number_of_tickets %>
              </td>
              <td>
                <%= a_group_reservation.movie_id %>
              </td>
              <td>
                <%= a_group_reservation.theater_id %>
              </td>
              <td>
                <%= time_ago_in_words(a_group_reservation.created_at) %> ago
              </td>
              <td>
                <%= time_ago_in_words(a_group_reservation.updated_at) %> ago
              </td>
              <td>
                <a href="/group_reservations/<%= a_group_reservation.id %>">
                  Show details
                </a>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>  
<% end %>
