<% if @current_user == nil %>
  <h4>Please <a href="/user_sign_in">sign in</a> first.</h4>
<% else %>
  <% if TicketRequest.where({ :group_id => @the_group_reservation.id }).exists?({ :user_id => @current_user }) %>
    <div>
      <div>
        <h1>
          Reservation for <%= @the_group_reservation.reservation_date.strftime("%B %e, %Y")%>
        </h1>

        <div>
          <div>
            <a href="/group_reservations">
              See all reservations
            </a>
          </div>
        </div>

        <hr>
        
        <div>
          <table>
            <tr>
              <th>
              
              </th>

              <th>
                Ticket Holder
              </th>

              <th>
              </th>
            </tr>

            <% @list_of_group_tickets.each do |a_ticket_request| %>
              <tr>

                <td>
                  <img src="<%= a_ticket_request.ticket %>" class="img-responsive">
                </td>

                <td>
                  <% if a_ticket_request.user == nil %>
                    <form action="/modify_ticket_request/<%= a_ticket_request.id %>"  method="post">
                      <label for="user_email_box" hidden>
                        User Email
                      </label>
                      <input type="text" id="user_email_box" name="query_user_email">
                      <button>
                        Assign Ticket
                      </button>
                    </form>
                  <% else %>
                    <%= a_ticket_request.user.email %>
                  <%end%>
                </td>

                <td>
                  <a href="/ticket_requests/<%= a_ticket_request.id %>">
                    View Ticket
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
              </tr>
            <% end %>
          </table>
        </div>

        <hr>
        <div>
          <dl>
            <dt>
              Movie
            </dt>
            <dd>
              <img src="<%= @the_group_reservation.movie.image %>">
            </dd>
            <dd>
              <%= @the_group_reservation.movie.title %>
            </dd>

            <dt>
              Reservation date
            </dt>
            <dd>
              <%= @the_group_reservation.reservation_date.strftime("%A, %B %e, %Y") %>
            </dd>

            <dt>
              Reservation Start Time
            </dt>
            <dd>
              <%= (@the_group_reservation.reservation_time + 6.hours).strftime("%l:%M %p") %>
            </dd>

            <dt>
              Reservation End Time
            </dt>
            <dd>
              <%= (@the_group_reservation.reservation_end_time + 6.hours).strftime("%l:%M %p") %>
            </dd>

            <dt>
              Number of tickets
            </dt>
            <dd>
              <%= @the_group_reservation.number_of_tickets %>
            </dd>

            <dt>
              Location Address
            </dt>
            <dd>
              <%= @the_group_reservation.theater.location.street_address %>
            </dd>
          </dl>
        </div>

        <hr>

        <div>
          <div>
            <% if @the_group_reservation.number_of_tickets == 1%>
              <a href="/delete_group_reservation/<%= @the_group_reservation.id %>">
                Cancel reservation
              </a>
            <% else %>
              <a href="/delete_group_reservation/<%= @the_group_reservation.id %>">
                Cancel reservation for entire group
              </a>
            <% end %>
          </div>
        </div>
        
      </div>
    </div>

    

    <hr>
  <% elsif @current_user != nil && @current_user.admin == true %>
    <hr>
      <h2>ADMIN VIEW</h2>
    <hr>
    <div>
      <div>
        <h1>
          Group reservation #<%= @the_group_reservation.id %> details
        </h1>

        <hr>

        <div>
          <div>
            <a href="/group_reservations">
              See all reservations
            </a>
          </div>
        </div>

        <hr>

        <div>
          <table>
            <tr>
              <th>
                ID
              </th>

              <th>
                User
              </th>

              <th>
                Group
              </th>

              <th>
                Ticket status
              </th>

              <th>
                Ticket
              </th>

              <th>
                Assign Tickets
              </th>

              <th>
              </th>
            </tr>

            <% @list_of_group_tickets.each do |a_ticket_request| %>
              <tr>
                <td>
                  <%= a_ticket_request.id %>
                </td>

                <td>
                  <%= a_ticket_request.user_id %>
                </td>

                <td>
                  <%= a_ticket_request.group_id %>
                </td>

                <td>
                  <%= a_ticket_request.ticket_status %>
                </td>

                <td>
                  <%= a_ticket_request.ticket %>
                </td>

                <td>
                  <% if a_ticket_request.user == nil %>
                    <form action="/modify_ticket_request/<%= a_ticket_request.id %>"  method="post">
                      <label for="user_email_box">
                        User Email
                      </label>
                      <input type="text" id="user_email_box" name="query_user_email">
                      <button>
                        Assign Ticket
                      </button>
                    </form>
                  <% else %>
                    <%= a_ticket_request.user.email %>
                  <%end%>
                </td>

                <td>
                  <a href="/ticket_requests/<%= a_ticket_request.id %>">
                    Show details
                  </a>
                </td>
              </tr>
            <% end %>
          </table>
        </div>

        <hr>
        
        <div>
          <dl>
            <dt>
              Movie
            </dt>
            <dd>
              <img src="<%= @the_group_reservation.movie.image %>">
            </dd>
            <dd>
              <%= @the_group_reservation.movie.title %>
            </dd>

            <dt>
              Reservation date
            </dt>
            <dd>
              <%= @the_group_reservation.reservation_date.strftime("%A, %B %e, %Y") %>
            </dd>

            <dt>
              Reservation Start Time
            </dt>
            <dd>
              <%= (@the_group_reservation.reservation_time + 6.hours).strftime("%l:%M %p") %>
            </dd>

            <dt>
              Reservation End Time
            </dt>
            <dd>
              <%= (@the_group_reservation.reservation_end_time + 6.hours).strftime("%l:%M %p") %>
            </dd>

            <dt>
              Number of tickets
            </dt>
            <dd>
              <%= @the_group_reservation.number_of_tickets %>
            </dd>

            <dt>
              Location Address
            </dt>
            <dd>
              <%= @the_group_reservation.theater.location.street_address %>
            </dd>
          </dl>
        </div>

        <hr>

        <div>
          <div>
            <a href="/delete_group_reservation/<%= @the_group_reservation.id %>">
              Cancel group reservation
            </a>
          </div>
        </div>

        <hr>

      </div>
    </div>


  <% else %>
    <div>You do not have access to this page.</div>
    <div><a href="/">Back to Home</a></div>
    <hr>
  <% end %>
<% end %>
