<% if @current_user != nil && @current_user.admin == true %>
  <hr>
    <h2>ADMIN VIEW ONLY</h2>
  <hr>
  <div>
    <div>
      <h1>
        List of all locations
      </h1>
    </div>
  </div>

  <hr>

  <div>
    <div>
      <h2>
        Add a new location
      </h2>

      <form action="/insert_location" method="post">
        <div>
          <label for="street_address_box">
            Street address
          </label>

          <input type="text" id="street_address_box" name="query_street_address">
        </div>

        <div>
          <label for="location_name_box">
            Location name
          </label>

          <input type="text" id="location_name_box" name="query_location_name">
        </div>

        <div>
          <label for="open_time_box">
            Open Time
          </label>

          <input type="time" id="open_time_box" name="query_open_time">
        </div>

        <div>
          <label for="close_time_box">
            Close Time
          </label>

          <input type="time" id="close_time_box" name="query_close_time">
        </div>

        <button>
          Create location
        </button>
      </form>
    </div>
  </div>

  <hr>
  <div>
    <div>
      <table>
        <tr>
          <th>
            ID
          </th>

          <th>
            Street address
          </th>

          <th>
            Location name
          </th>

          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>

        <% @list_of_locations.each do |a_location| %>
        <tr>
          <td>
            <%= a_location.id %>
          </td>

          <td>
            <%= a_location.street_address %>
          </td>

          <td>
            <%= a_location.location_name %>
          </td>

          <td>
            <%= time_ago_in_words(a_location.created_at) %> ago
          </td>
          <td>
            <%= time_ago_in_words(a_location.updated_at) %> ago
          </td>

          <td>
            <a href="/locations/<%= a_location.id %>">
              Show details
            </a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <hr>
<% else %>
  <div>
    Must be an admin
  </div>
<% end %>
