<div >
  <h5>
    Edit User Account
  </h5>

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="phone_number_box">Phone number</label>
        <input id="phone_number_box" name="query_phone_number" value="<%= @current_user.phone_number %>">
      </div>
      <div>
        <label for="street_address_box">Street address</label>
        <input id="street_address_box" name="query_street_address" value="<%= @current_user.street_address %>">
      </div>
      <div>
        <label for="city_box">City</label>
        <input id="city_box" name="query_city" value="<%= @current_user.city %>">
      </div>
      <div>
        <label for="zip_code_box">Zip code</label>
        <input id="zip_code_box" name="query_zip_code" value="<%= @current_user.zip_code %>">
      </div>
      
      <% if @current_user != nil && @current_user.admin == true %>
        <div>
          <label for="admin_box">Admin</label>
          <input id="admin_box" name="query_admin" type="checkbox" value="1" <%= "checked" if @current_user.admin %>>
        </div>
      <% end %>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
